@using EmpleoDotNet.Core.Domain
@model EmpleoDotNet.ViewModel.Account.UserProfileViewModel

@{
    ViewBag.Title = "Mi perfil";
}
<div class="container">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <div>
                        <h2>Mi perfil</h2>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>
                            Nombre
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            Email
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                    </dl>
                </div>
                @if (!Model.IsProfileCompleted)
                {
                    <div class="col-md-7 col-lg-7 col-sm-12">
                        <div>
                            <h2>Información de usuario</h2>
                        </div>
                        @using (Html.BeginForm("CompleteProfile", "Account", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label for="UserProfileType" class="control-label">Tipo de usuario</label>
                                @Html.EnumDropDownListFor(x => x.UserProfileType, "-- Tipo de usuario --", new {@class = "form-control"})
                                <span>Por favor especifica si representas una empresa o eres un candidato</span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary">
                                    <i class="fa fa-check-circle"></i>
                                    Continuar
                                </button>
                            </div>
                        }
                    </div>
                }
                else
                {
                    if (Model.UserProfileType == UserProfileType.Company)
                    {
                        <div class="col-md-7 col-lg-7 col-sm-12">
                            <div>
                                <h2>Información de mi empresa</h2>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-image">
                                    @if (string.IsNullOrWhiteSpace(@Model.CompanyLogoUrl))
                                    {
                                        <img src="~/Content/img/company-logo-placeholder.png" alt="Logo Compañ&iacute;a" class="panel-image-preview" />
                                    }
                                    else
                                    {
                                        <img src="@Model.CompanyLogoUrl" alt="Logo Compañ&iacute;a" class="panel-image-preview">
                                    }
                                </div>
                                <div class="panel-body">
                                    <h4>@Model.CompanyName</h4>
                                    <article>
                                        @Html.Raw(Model.CompanyDescription)
                                    </article>

                                    @if (!string.IsNullOrWhiteSpace(Model.CompanyVideoUrl))
                                    {
                                        <div>
                                            <strong>@Html.DisplayNameFor(x => x.CompanyVideoUrl)</strong>
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe src="@Model.CompanyVideoUrl" frameborder="0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    }

                                    <h3>Información de contacto</h3>
                                    <dl>
                                        <dt>
                                            @Html.DisplayNameFor(x => x.CompanyUrl)
                                        </dt>
                                        <dd>
                                            @if (string.IsNullOrWhiteSpace(Model.CompanyUrl))
                                            {
                                                <span>N/A</span>
                                            }
                                            else
                                            {
                                                <a href="@Html.DisplayFor(x => x.CompanyUrl)">
                                                    @Html.DisplayFor(x => x.CompanyUrl)
                                                </a>
                                            }
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(x => x.CompanyPhone)
                                        </dt>
                                        <dd>
                                            @if (string.IsNullOrWhiteSpace(Model.CompanyPhone))
                                            {
                                                <span>N/A</span>
                                            }
                                            else
                                            {
                                                <a href="tel:@Html.DisplayFor(x => x.CompanyPhone)">
                                                    @Html.DisplayFor(x => x.CompanyPhone)
                                                </a>
                                            }
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(x => x.CompanyEmail)
                                        </dt>
                                        <dd>
                                            @if (string.IsNullOrWhiteSpace(Model.CompanyEmail))
                                            {
                                                <span>N/A</span>
                                            }
                                            else
                                            {
                                                <a href="mailto:@Html.DisplayFor(x => x.CompanyEmail)">
                                                    @Html.DisplayFor(x => x.CompanyEmail)
                                                </a>
                                            }
                                        </dd>
                                    </dl>
                                </div>

                                <div class="panel-footer text-center">
                                    <a href="@(string.IsNullOrWhiteSpace(Model.FacebookProfile) ? "#" : Model.FacebookProfile)">
                                        <span class="fa fa-2x fa-facebook-square"></span>
                                    </a>
                                    <a href="@(string.IsNullOrWhiteSpace(Model.InstagramProfile) ? "#" : Model.InstagramProfile)">
                                        <span class="fa fa-2x fa-instagram"></span>
                                    </a>
                                    <a href="@(string.IsNullOrWhiteSpace(Model.LinkedInProfile) ? "#" : Model.LinkedInProfile)">
                                        <span class="fa fa-2x fa-linkedin-square"></span>
                                    </a>
                                    <a href="@(string.IsNullOrWhiteSpace(Model.TwitterProfile) ? "#" : Model.TwitterProfile)">
                                        <span class="fa fa-2x fa-twitter-square"></span>
                                    </a>
                                    <a href="@(string.IsNullOrWhiteSpace(Model.YoutubeProfile) ? "#" : Model.YoutubeProfile)">
                                        <span class="fa fa-2x fa-youtube-square"></span>
                                    </a>
                                </div>
                            </div>


                        </div>
                    }
                }
            </div>
            @if (Model.IsProfileCompleted)
            {
                if (Model.UserProfileType == UserProfileType.Company)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <h2>Mis ofertas de empleo</h2>
                            </div>
                            @if (Model.JobOpportunities.Any())
                            {
                                @Html.Partial("_JobListPartial", Model.JobOpportunities)
                            }
                            else
                            {
                                <span>No has creado una oferta de empleo, <a href="@Url.Action("Wizard", "JobOpportunity")">comienza aquí</a></span>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </section>

</div>
