@using EmpleoDotNet.Core.Domain
@model EmpleoDotNet.Core.Domain.UserProfile

@{
    ViewBag.Title = "Mi perfil";
}
<div class="container">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5 col-lg-5">
                    <div>
                        <h2>Mi perfil</h2>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>
                            Nombre
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt>
                            Email
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                    </dl>
                </div>
                @if (!Model.IsProfileCompleted)
                {
                    <div class="col-md-7 col-lg-7 col-sm-12">
                        <div>
                            <h2>Información de usuario</h2>
                        </div>
                        @using (Html.BeginForm("CompleteProfile", "Account", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label for="UserProfileType" class="control-label">Tipo de usuario</label>
                                @Html.EnumDropDownListFor(x => x.UserProfileType, "-- Tipo de usuario --", new {@class = "form-control"})
                                <span>Por favor especifica si representas una empresa o eres un candidato</span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-lg btn-primary">
                                    <i class="fa fa-check-circle"></i>
                                    Continuar
                                </button>
                            </div>
                        }
                    </div>
                }
            </div>
            @if (Model.IsProfileCompleted)
            {
                if (Model.UserProfileType == UserProfileType.Company)
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div>
                                <h2>Mis ofertas de empleo</h2>
                            </div>
                            @if (Model.Company.JobOpportunities.Any())
                            {
                                @Html.Partial("_JobListPartial", Model.Company.JobOpportunities)
                            }
                            else
                            {
                                <span>No has creado una oferta de empleo, <a href="@Url.Action("Wizard", "JobOpportunity")">comienza aquí</a></span>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </section>

</div>
